In [1]:
import pandas as pd

In [2]:
file = 'travistorrent_11_1_2017.csv'
chunksize = 1000000

In [3]:
for dataset in pd.read_csv(file, engine='c', chunksize=chunksize):
    process(dataset)

/home/wagner/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

NameError: name 'process' is not defined

In [4]:
#dataset = pd.read_csv('travistorrent_11_1_2017.csv',sep=',', engine='c', nrows=3000000, na_values=str, keep_default_na = bool, encoding='utf-8')
# nrows=1000000
'''
Signature:
    sep - separa por virgula
    nrows - limite de linhas lidas
    encoding - tipo de caracter
    engine - Mecanismo do analisador
    na_values - procura os padrões na|nan como str
    keep_default_na - define como nan os padroes econtrados em na_values
    
'''

'\nSignature:\n    sep - separa por virgula\n    nrows - limite de linhas lidas\n    encoding - tipo de caracter\n    engine - Mecanismo do analisador\n    na_values - procura os padrões na|nan como str\n    keep_default_na - define como nan os padroes econtrados em na_values\n    \n'

<font size=4/>
   * Elimia as colunas não utilizadas

In [4]:
# Eliminando colunas
dataset.drop([  'gh_diff_files_added',
                'gh_commits_in_push',
                'gh_diff_files_deleted',
                'gh_diff_files_modified',
                'gh_diff_tests_added',
                'gh_diff_tests_deleted',
                'gh_diff_src_files',
                'gh_diff_doc_files',
                'gh_diff_other_files',
                'gh_sloc',
                'gh_test_lines_per_kloc',
                'gh_test_cases_per_kloc',
            
                'tr_duration',
                'tr_log_lan',
                'tr_log_num_tests_run',
                'tr_log_setup_time',
                'tr_log_analyzer',
                'tr_log_frameworks',
                'tr_log_bool_tests_ran',
                'tr_log_bool_tests_failed',
                'tr_log_tests_failed',
                'tr_log_testduration',
                'tr_log_buildduration'], axis=1, inplace=True)

In [6]:
def categorizaPush(valor):
    if(valor < 20):
        return 0

<font size=4/> 
   * Filtra o projeto

In [5]:
df_ruby = dataset.loc[dataset['gh_project_name']=='rails/rails'] # Filtro penas o projeto rails/rails

In [18]:
ruby_master = df_ruby.loc[df_ruby['git_branch']== 'master']

In [21]:


ruby_master

,tr_build_id,gh_project_name,gh_is_pr,gh_pr_created_at,gh_pull_req_num,gh_lang,git_merged_with,git_branch,gh_num_commits_in_push,git_prev_commit_resolution_status,...,gh_pushed_at,gh_build_started_at,tr_status,tr_jobs,tr_build_number,tr_job_id,tr_log_status,tr_log_num_tests_ok,tr_log_num_tests_failed,tr_log_num_tests_skipped
15,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106188,unknown,NaN,NaN,NaN
16,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106187,unknown,NaN,NaN,NaN
17,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106190,unknown,NaN,NaN,NaN
18,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106181,unknown,NaN,NaN,NaN
19,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106183,unknown,NaN,NaN,NaN
20,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106189,unknown,NaN,NaN,NaN
21,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106180,unknown,NaN,NaN,NaN
22,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106185,unknown,NaN,NaN,NaN
23,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106182,unknown,NaN,NaN,NaN
24,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106178,unknown,NaN,NaN,NaN
25,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106177,unknown,NaN,NaN,NaN
26,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106186,unknown,NaN,NaN,NaN
27,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106191,unknown,NaN,NaN,NaN
28,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106184,unknown,NaN,NaN,NaN
29,106176,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,merge_found,...,NaN,2011-08-29 00:13:21,failed,"[106182, 106183, 106184, 106185, 106181, 10618...",498,106179,unknown,NaN,NaN,NaN
181,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108050,unknown,NaN,NaN,NaN
182,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108043,unknown,NaN,NaN,NaN
183,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108041,unknown,NaN,NaN,NaN
184,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108040,unknown,NaN,NaN,NaN
185,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108047,unknown,NaN,NaN,NaN
186,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108045,unknown,NaN,NaN,NaN
187,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108046,unknown,NaN,NaN,NaN
188,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108044,unknown,NaN,NaN,NaN
189,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108042,unknown,NaN,NaN,NaN
190,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108048,unknown,NaN,NaN,NaN
191,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108053,unknown,NaN,NaN,NaN
192,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108051,unknown,NaN,NaN,NaN
193,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108049,unknown,NaN,NaN,NaN
194,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108052,unknown,NaN,NaN,NaN
195,108038,rails/rails,False,NaN,NaN,ruby,NaN,master,NaN,build_found,...,NaN,2011-08-29 12:22:11,passed,"[108053, 108049, 108047, 108046, 108041, 10804...",502,108039,unknown,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999925,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:22:30,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114499,broken,629.0,1.0,0.0
999926,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:22:30,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114521,broken,5786.0,11.0,2.0
999927,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:22:30,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114527,broken,NaN,NaN,NaN
999928,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:22:30,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114503,ok,7626.0,0.0,2.0
999929,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:22:30,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114523,broken,NaN,NaN,NaN
999930,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:22:30,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114520,broken,3769.0,75.0,1.0
999931,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:22:30,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114518,broken,8995.0,50.0,0.0
999932,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:47:23,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114516,ok,8100.0,0.0,30.0
999933,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:47:23,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114525,broken,NaN,NaN,NaN
999934,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:47:23,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114515,unknown,NaN,NaN,NaN
999935,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114502,ok,7646.0,0.0,2.0
999936,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114505,broken,23.0,1.0,0.0
999937,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114501,ok,7672.0,0.0,2.0
999938,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114524,broken,NaN,NaN,NaN
999939,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114512,ok,16359.0,0.0,0.0
999940,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114508,ok,7646.0,0.0,2.0
999941,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114528,broken,NaN,NaN,NaN
999942,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:33:22,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114519,broken,5132.0,54.0,1.0
999943,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-12-29 20:33:01,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114509,ok,7626.0,0.0,2.0
999944,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-12-29 20:33:01,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114506,ok,16359.0,0.0,0.0
999945,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-12-29 20:33:01,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114514,ok,7646.0,0.0,2.0
999946,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-12-29 20:33:01,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114511,unknown,NaN,NaN,NaN
999947,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:42:58,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114517,broken,191.0,5.0,0.0
999948,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:42:58,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114513,ok,7672.0,0.0,2.0
999949,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 18:38:42,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114500,ok,16357.0,0.0,2.0
999950,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 18:38:42,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114504,ok,8100.0,0.0,30.0
999951,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 18:38:42,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114507,ok,7672.0,0.0,2.0
999952,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 18:38:42,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114526,unknown,NaN,NaN,NaN
999953,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:47:23,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114510,ok,8100.0,0.0,30.0
999954,16114498,rails/rails,False,NaN,NaN,ruby,NaN,master,2.0,merge_found,...,2013-08-27 06:47:23,2013-12-29 20:35:24,errored,"[16114499, 16114500, 16114501, 16114502, 16114...",12965,16114522,unknown,NaN,0.0,NaN

In [ ]:
#df_statusFail = df_java.loc[df_java['tr_status']=='failed'] # Filtra apenas as bulds quebradas
df_ruby

Onde: num_commitsTPP significa o número total de commits por projeto, obtido após agrupamento da amostra por gh_project_name e somando git_num_commits; 


tempoDP significa o tempo total de duração de cada projeto em dias, obtido após agrupamento da amostra por gh_project_name 

e 


diminuindo a data máxima da data mínima extraída de gh_first_commit_created_at no grupo;


MediaPartPP significa a média de participantes por projeto, obtido após agrupamento da amostra por gh_project_name,



somando gh_team_size 


e dividindo pelo número de builds em cada grupo, 

tendo em vista que gh_team_size tem pequenas variações entre builds ao longo do projeto.

Para cada linguagem obtemos a TxCommitsPP e realizamos o teste de normalidade de Shapiro-Wilk e plotamos o gráfico quantil-quantil (QQ). Como as duas distribuições se desviaram da distribuição normal de forma significante, observamos no gráfico QQ que as duas amostras possuem forma de distribuição semelhante confirmada pelo teste de variância. Assim, para verificar se existe diferença estatística significante entre as duas distribuições, optamos por usar o teste não paramétrico U de Mann-Whitney. Os gráficos QQ podem ser vistos nas Figuras 1 e 2, abaixo.